.mobile-navbar-container {
    height: 100px;
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0px;
    display: none;
}
.mobile-navbar-container span {
    text-transform: none;
    opacity: .5;
    font-weight: 300;
    font-size: 12px;
}
.mobile-navbar-container input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 9999999;
  }
  .mobile-navbar-container input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    right: 40px;
    display: block;
    background: #020304;
    transition: 0.5s;
  }
  .mobile-navbar-container input + label span:first-child {
    top: 3px;
  }
  .mobile-navbar-container input + label span:last-child {
    top: 16px;
  }
  .mobile-navbar-container label:hover {
    cursor: pointer;
  }
  .mobile-navbar-container input:checked + label span {
    opacity: 0;
    top: 50%;
  }
  .mobile-navbar-container input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  .mobile-navbar-container input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
  .mobile-navbar-container input ~ nav {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 99;
    transition: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
  }
  .mobile-navbar-container input ~ nav > ul {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 20%;
  }
  .mobile-navbar-container input ~ nav > ul > li {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0s;
  }
  .mobile-navbar-container input ~ nav > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    font-weight: 700;
    font-family: Lack;
    display: block;
    padding: 30px;
  }
  .mobile-navbar-container input:checked ~ nav {
    height: 40%;
    transition-delay: 0s;
  }
  .mobile-navbar-container input:checked ~ nav > ul > li {
    opacity: 1;
    transition-delay: 0.5s;
  }
ul {
    list-style-type: none;
}
.logo-mobile {
  z-index: 9999999;
  height: 60px;
  margin-top: 20px;
  margin-left: 25px;
}
.tg-mobile {
  z-index: 9999999;
  height: 38px;
  margin-top: 33px;
  margin-left: 25px;

}
#vk-mobile {
  margin-left: 45px;
}